# Лабораторная работа №3.2.6 "Исследование гальванометра"

In [5]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn
%matplotlib inline

In [23]:
data = pd.read_csv('Lab1.csv', error_bad_lines=False)
pd
R12=1/2000
V=1.2
R0=610
R2=10000
a=130
Rcr=4700

data.head(15)

       R     X  X.decr    x1    x2   x3   R.d     k
0    0.8  25.0    25.0  22.2   2.5  0.4  14.1   3.0
1    8.3  24.5    22.3  24.8   5.2  1.1  18.8   4.0
2    1.0  22.0    20.0  20.1   5.5  1.6  23.5   5.0
3    1.2  19.5     NaN  23.9   8.0  2.7  28.2   6.0
4    1.4  17.5     NaN  25.2  10.7  4.7  37.6   8.0
5    1.6  16.0     NaN  25.2  12.4  6.3  47.0  10.0
6    1.8  14.7     NaN   NaN   NaN  NaN   NaN   NaN
7    2.0  13.5     NaN   NaN   NaN  NaN   NaN   NaN
8    2.2  12.5     NaN   NaN   NaN  NaN   NaN   NaN
9    2.4  11.7     NaN   NaN   NaN  NaN   NaN   NaN
10   2.8  10.3     NaN   NaN   NaN  NaN   NaN   NaN
11   3.6   8.3     NaN   NaN   NaN  NaN   NaN   NaN
12   6.0   5.3     NaN   NaN   NaN  NaN   NaN   NaN
13  10.0   3.3     NaN   NaN   NaN  NaN   NaN   NaN

In [25]:
data1=data[['R','X']]