# Pandas

In [5]:
import pandas as pd

In [10]:
frame=pd.read_csv('tabtest.csv',header=None, sep = ",")
frame

,0,1,2,3,4,5,6,7,8,9,...,962,963,964,965,966,967,968,969,970,971
0,1,1,0,1,1,1,1,1,1,0,...,2,1,1,1,1,2,1,1,2,1

In [11]:
frame.size

972

In [ ]:
import numpy as np

In [ ]:
a = np.array([1,2,3])

In [ ]:
a